
.contact-background{
	background: rgba(0, 0, 0, 0.7) url("https://images.pexels.com/photos/244206/pexels-photo-244206.jpeg?auto=compress&cs=tinysrgb&w=1600");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-blend-mode: darken;
	background-attachment: fixed;
}

.contact-container {
	max-width:600px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact {
	padding:25px;
	margin:0px 50px 0px 0px;
}

#contact h3{
    color: orange;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

#contact > .input1 {
	border: none;
    border-radius: 20px;
	margin: 0 0 10px;
    color: #000;
	min-width: 100%;
    height: 35px;
	padding: 0;
	width: 80%;
}

.input2{
    height: 100px;
	min-width: 100%;
	border: none;
	border-radius: 20px;
}

#contact-submit {
	cursor:pointer;
	width:100%;
	border:none;
    border-radius: 20px;
	background:rgba(255, 166, 0, 0.77);
	color:#000;
	margin:20px 0px 350px 0px;
	padding:10px;
	font-size:20px;
    font-weight: 600;
}



/* MEDIA QUERIES */

@media (min-width: 820px){
	#contact{
	}
}
	

